.dark-mode {
    background-image: url(../img/Header-bg-dark.svg);

    .clinic-facilities {
        background-image: url(/img/clinic-facilities-bg-dark.svg);
    }

    .bg-secondary {
        background-image: url(/img/ask-doctors-bg-dark.svg), url(/img/testimonials-bg-dark.svg), url(/img/our-clinics-bg-dark.svg);
    }
}